<div class='m-2 p-2 border d-flex justify-content-between' id="<%= dom_id group %>">

  <div class='d-flex gap-4 mx-2'>
    <%= image_tag group.image, :style => 'width: 64px; height: 64px; object-fit: cover;' %>
    <div class='text-4 d-flex flex-column justify-content-between'>
      <%= group.name %>
      <br>
      <span class='small'><%= group.created_at.to_date %></span>
    </div>
  </div>


  <div class='m-2 d-flex align-items-center' >
    <strong class='text-center align-middle' >$ <%= group.value %></strong>
  </div>
</div>